img[alt="Free Web Hosting"]{display:none;}
body{margin:0;padding:0;background:#D3C28E;font-family:'Open Sans',sans-serif;}
.header {width: 100%;overflow: auto;background:#a88e42;border-bottom:1px solid #7d6a31;}
#nav {width: 100%;float: left;padding: 0;color:#fff;text-shadow: 1px 1px black;list-style: none;background-color: #a88e42;}
#nav li {float: left; }
#nav li a {font-family:Georgia, serif;font-size:18px;display: block;padding: 8px 15px;text-decoration: none;color: #fff;}
#nav li a:hover {color: #000;text-shadow: 1px 1px #fff;}
#nav li a:hover, #nav .dropdown:hover #nav .dropbtn {cursor: pointer;}
#nav .dropdown-content {display: none;position: absolute;background-color: #a88e42;min-width: 200px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);z-index: 1;}
#nav .dropdown-content a {font-family:Georgia, serif;font-size:18px;color: #fff;padding: 12px 16px;text-decoration: none;display: block;text-align: left;}
#nav .dropdown-content a:hover {color: #000;text-shadow: 1px 1px #fff;}
#nav .dropdown:hover .dropdown-content {display: block;}
.abody {margin:0 auto;}
form{padding:6% 4%;}
#login input[type="text"]{width:92%;background:#fff;border:1px solid #999;padding:2%;font-family:'Open Sans',sans-serif;font-size:95%;color:#555;}
.cobutton button{width:92%;background:#3399cc;border:0;padding:2%;font-family:Verdana, sans-serif;text-shadow: 1px 1px #000;font-size:100%;color:#fff;cursor:pointer;}
.cobutton button:hover{background:#2288bb;}
#btnclaim button{width:100%;background:#3399cc;border:0;padding:2%;font-family:Verdana, sans-serif;text-shadow: 1px 1px #000;font-size:100%;color:#fff;cursor:pointer;}
#btnclaim button:hover{background:#2288bb;}
.errors {background:#D9534F;font-family: "Font Awesome 5 Free"; font-weight: 600; content: "\f0da";padding:2%;color:#fff;text-shadow: 1px 1px #000;letter-spacing: 1px;}
footer {overflow: auto;clear: center;background-color:#BA9F4E;padding:3%;border-top:1px solid #7d6a31;font-family:Georgia, serif;font-size:16px;}
.fleft {float: center;width: 100%;color: white;letter-spacing: 2px;text-shadow: 1px 1px black;font-size:80%;}
.fright {letter-spacing: 1px;text-align:right;right:0;float: right;width: 50%;color: #fff;font-family:'Open Sans',sans-serif;font-size:80%;}
.fright a:link, .fright a:visited {color: white;text-align: left;text-shadow: 1px 1px black;text-decoration: none;display: inline-block;letter-spacing: 2px;}
.fright a:hover,.fright a:active {color: #000;text-shadow: 1px 1px #fff;}
.forbutton {text-align:right;}
.forbutton a:link, .forbutton a:visited {color: #fff;background:#a88e42;padding:10px;font-size:80%;margin:0 15px 15px 0;text-align: left;text-decoration: none;display: inline-block;letter-spacing: 1px;text-shadow: 1px 1px #000;}
.forbutton a:hover,.forbutton a:active {color: #fff;background:#BFAA62;}
.error-message {background:#c60063;text-align:center;font-size:90%;padding:4%;color:#fff;text-shadow: 1px 1px black;}
.ok-message {background:#528d61;text-align:center;font-size:90%;padding:4%;color:#fff;text-shadow: 1px 1px black;}
.disbody {padding:0;}
.distable {border-collapse:collapse;width:100%;}
.disttdo {text-align:left;padding:5px;}
.clearfix {overflow:auto;font:normal 16px/26px "Roboto", Arial, sans-serif;color:#2a3744;word-spacing:5px;letter-spacing:1px;width:100%;font-size:25px;margin:0;line-height:40px;text-align:justify;text-justify:inter-word;}
.clearfixa {margin:0;overflow:auto;padding:10px;}
.coverall{text-align:center;width:auto;margin:0 auto;}
.member{overflow:auto;display:inline-block;width:98%;margin:5px;border:1px solid #666;height:auto;box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.25);background-color:#f1f1f1;}
.cover{width:100%;padding:12px 0;background-color:#a88e42;font-size:26px;text-shadow:1px 1px #fff;font-family:arial, sans-serif;font-weight:bold;}
.coverbody p{background:#fefefe;font:normal 16px/26px "Roboto", Arial, sans-serif;color:#2a3744;word-spacing: 5px;letter-spacing: 1px;}
.member1{overflow:auto;display:inline-block;width:230px;margin:5px;border:1px solid #666;height:auto;box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.25);}
.memstast{text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;width:100%;padding:12px 0;background-color:#a88e42;font-size:20px;color:#fff;font-family:arial, sans-serif;}
.bodyc{margin:0 34px;background-color:#a88e42;border:1px solid #666;text-align:center;}
.bodyc h1{text-shadow:-1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1, 1px 1px 0 #f1f1f1;font-family:Apple Chancery, cursive;}
.bodyc h2{text-shadow:-1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1, 1px 1px 0 #f1f1f1;}
.bsub{padding:20px;background-color:#a88e42;margin:20px;}
.bsub a{padding:20px 40px;background-color:#1e86c7;text-decoration:none;font-family:Georgia, serif;font-size:18px;color:#fff;text-shadow:1px 1px #000;border-radius:10px;}
.bsub a:hover{background-color:#41a6e2;}
#antibotlinksf {width: auto;height: auto;margin: 0;clear: both;}